.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding:0 2rem;
    height: calc(100vh - 3rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        font-size: 38px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 64px;
        text-align: left;
        line-height: 100%;

        align-self: flex-start;
    }

    h3 {
        text-align: left;
        align-self: flex-start;

        font-size: 2rem;
        font-weight: 600;

        margin-bottom: 2rem;

        color: var(--yellow-300);
    }
}

.pricingContent {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    h3 {
        align-self: flex-start;
        font-size: 2rem;
        font-weight: 500;
        line-height: 42px;
    }

    max-width: 1120px;

    margin: 8rem auto;
    padding: 0 32px;

    .pricingGrid {
        margin-top: 2rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        justify-content: center;
        align-items: center;

        width: 100%;

        gap: 1rem;

        &.twoContent {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.featureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    max-width: 1120px;
    
    margin: 10rem auto;

    h1 {
        font-size: 64px;
        text-align: center;
        line-height: 100%;
    }
}

.plansContainer {
    margin: 4rem auto;
    padding: 0 32px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    max-width: 1120px;

    h3 {
        align-self: flex-start;
        font-size: 2rem;
        font-weight: 500;
        line-height: 42px;
    }

    .planTable {
        font-size: 1rem;
        border-collapse: collapse;
        width: 100%;
        padding: 0;
        margin: 0 0 8rem;
        line-height: 1.45rem;

        border-spacing: 2px;
        border-color: var(--gray-450);

        tr {
            vertical-align: middle;
            display: table-row;
            border-color: inherit;

            & + tr {
                border-top: 1px solid var(--gray-450);
            }
        }

        th {
            font-size: 2rem;
            font-weight: normal;

            white-space: nowrap;
            position: sticky;
            top: 0px;
            margin: 0 auto;
            background: var(--gray-900);
            padding: 12px;

            text-align: center;

            a {
                display: block;
                width: max-content;
                margin: 12px auto;

                border-radius: 4px;
                font-size: 1rem;
                height: 40px;
                padding: 0 16px;
                line-height: 37px;
                white-space: nowrap;
                text-align: center;
                border: 1px solid var(--gray-450);
                background: var(--gray-815);
            }

            &.planTeamFree, &.planPersonalFree {
                color: var(--gray-150) !important;
            }
            
            &.planTeamPro {
                color: var(--yellow-400) !important;
            }

            &.planTeamOrganization {
                color: var(--white) !important;
            }

            &.planPersonalPro {
                color: var(--purple-100) !important;
            }

            &:first-child {
                text-align: left;
                padding-left: 0px;
            }
        }

        td {
            padding: 32px 0;

            text-align: center;

            &.planTeamFree, &.planPersonalFree {
                color: var(--gray-150) !important;
            }
            
            &.planTeamPro {
                color: var(--yellow-400) !important;
            }

            &.planTeamOrganization {
                color: var(--white) !important;
            }

            &.planPersonalPro {
                color: var(--purple-100) !important;
            }

            &:first-child {
                text-align: left;
                display: table-cell;
                vertical-align: inherit;

                width: 35%;

               h3 {
                font-style: normal;
                font-weight: 500;
                margin-bottom: 5px;
               }

               span {
                font-size: 1rem;
                line-height: 24px;
                color: var(--gray-100);
               }
            }
        }
    }

    .featureColumns {
        max-width: 1120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        gap: 2rem;

        margin: 2rem 0;

        .column {
            ul {
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;

                padding: 0;
                margin: 0 0 1.0875rem 1.45rem;
                list-style-position: outside;
                list-style-image: none;

                li {
                    padding: 12px 0;
                    -webkit-box-sizing: inherit;
                    box-sizing: inherit;

                    h2 {
                        color: var(--gray-050);
                    }

                    span {
                        font-size: 1rem;
                        line-height: 24px;
                        color: var(--gray-100);
                        margin: 0px;
                    }
                }
            }
        }
    }
}