* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // -webkit-transition: color,background-color .2s ease;
    // transition: color,background-color .2s ease;
}

:root {
    --white: #FFFFFF;

    --gray-025: #E1E1E1;
    --gray-050: #C5C5C5;
    --gray-075: #999999;
    --gray-100: #888888;
    --gray-150: #808080;
    --gray-200: #747071;
    --gray-450: #373737;
    --gray-500: #343434;
    --gray-550: #252525;
    --gray-600: #2A2A2A;
    --gray-650: #29292E;
    --gray-675: #242424;
    --gray-700: #212121;
    --gray-750: #1E1E1E;
    --gray-800: #0F0E0E;
    --gray-815: #191919;
    --gray-825: #161616;
    --gray-850: #151515;
    --gray-900: #030303;

    --yellow-100: #EDFFA5;
    --yellow-300: #DCFF50;
    --yellow-400: #EDFF81;

    --blue-600: #5962DF;

    --purple-100: #AC9CFF;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--gray-900);
    color: var(--white);
}

body, input, textarea, select, button {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none
}

::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-track {
background: #424242; 
}

::-webkit-scrollbar-thumb {
background: #686868; 
}

::-webkit-scrollbar-thumb:hover {
background: #7B7B7B; 
}